{% extends 'layout-admin.html' %}
{% block title %}
<title>All profiles</title>
{% endblock%}

{% block main_content %}
<div class="container">
    <div class="row">

        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">All profiles</h1>
            <div class="card p-2">
               {% include 'message.html' %}
                <table class="table-striped">
                    <tr>
                        <th>Username</th>
                        <th>ProfilePic</th>
                        
                    </tr>
                    {% for i in profiles %}
                    <tr>
                        <td> {{ i.user }}</td>
                        <td> <img src="{{ i.image.url }}" width="100" alt="none"></td>
                        
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
